@media screen and (max-width: 1500px)
   .container 
      max-width: 1300px
   .nav__list li a
      font-size: 14px
   .nav__list li
      margin-left: 25px 
   .nav__content
      padding: 15px
   .nav__area a
      font-size: 20px
   h2 
      font-size: 44px
   .info__right
      img 
         &:first-child
            width: 100%
   .info__right a
      left: -5px
   .info__right p
      left: -5px
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 52px
      width: 364px
      height: 476px
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 48.4% !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 92%
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2) 
      right: 153px
      bottom: 68px
      max-width: 363px
      width: 100%
   .events .swiper3 .swiper-wrapper .swiper-slide:first-child img:nth-child(2)
      max-width: 500px
   .rev .swiper4 .swiper-slide
      height: 600px
   .local__bottom h3
      font-size: 20px
   .footer__left
      margin-right: 190px
   .header-item__pic
      width: 66%
   .item__content
      max-width: 61%
   .item__man
      width: 500px
      top: 126px
   .item .swiper8 .swiper-slide-active
      width: 750px !important
   .item .swiper8
      height: 550px
   .item__left
      max-width: 58%
   .reg__left
      max-width: 67%
   .reg__right
      max-width: 32%
   .reg__pic
      width: 244px
   .area2 .area__man
      height: 813px
   .main-laser__item p 
      font-size: 15px
      line-height: 20px
   .main-laser__area div
      width: 48.3%
   .info-laser .info__right img:nth-child(1) 
      width: auto
      left: -182px
   .kids__bottom div p
      font-size: 28px
   .laser__image
      max-width: 49%
   .laser__set div
      width: 32.2%
   .laser__wrap_2 .laser__kids
      width: 71%
   .main-laser__vr
      left: 378px
   .vr .main-laser__item span 
      font-size: 17px
      line-height: 22px
      width: 100%
      max-width: 186px
   .vr .main-laser__item p 
      font-size: 12px
      font-weight: 400
      color: #ffffff
      line-height: 17px
      max-width: 209px
      width: 100%
   .vr .party__top h3 
      max-width: 220px
      font-size: 31px
      font-weight: 500
      color: #ffffff
      line-height: 40px
   .vr .party__info div
      font-size: 12px
   .vr .sales__item h3
      font-size: 28px
   .vr 
      .laser__title
         max-width: 690px
@media screen and (max-width: 1300px)
   .container 
      max-width: 1200px
   .nav__area
      display: none 
   .nav__content 
      padding: 15px 22px
      width: 71%
   .nav__info
      padding: 15px
   .nav__list li
      margin-left: 35px
   .header .swiper1 .swiper-slide img 
      margin-top: -90px
      max-width: 695px
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      right: 0
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      font-size: 32px
   .main .swiper-slide a .main__see p
      font-size: 16px !important
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 81px
      width: 364px
      height: 447px
   .info__right a, .info__right p
      left: -20px
   .events .swiper3 .swiper-wrapper .swiper-slide 
      width: 48.2% !important
   .rev .swiper44 .swiper-slide a img
      height: 300px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 300px
   .area__man 
      margin: -59px 0 0 100px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 290px
   .area .swiper5
      height: 1194px
   .area .swiper5 .swiper-slide
      height: max-content !important
   .local
      padding: 50px 0
      margin-top: 50px
   .local__bottom h3
      font-size: 18px
   .local__text
      font-size: 14px
   .order__item p, .order__block p
      font-size: 24px
   .order__item img
      width: 100px
   .order
      padding: 70px 0
   .footer__box
      padding: 40px 0
   .footer__left
      margin-right: 150px
   .footer__order a
      font-size: 32px
   .footer__order
      margin-top: 176px
   .local
      padding-top: 70px
      padding-bottom: 0
      margin-top: 0
   .local h2
      margin-bottom: 24px
   .local__top
      margin-bottom: 0
      height: 300px
      border-radius: 20px 
      padding: 12px
   .local__bottom
      border-radius: 20px 
      padding: 12px
   .local__info .btn
      height: 38px
      font-size: 12px
   .local__info img
      max-width: 38px 
      height: 38px
   .popup-call__box
      padding: 30px 20px 
      border-radius: 20px 
   .popup__title
      font-size: 24px
   .popup-call__box .rev__wrap
      height: 220px
      border-radius: 12px 
   .popup__text p
      font-size: 14px
   .popup-call__box .swiper7
      height: 180px
   .popup-call__box .swiper7 .swiper-slide
      border-radius: 20px 
   .local__bottom .accordeon__button
      font-size: 14px
      text-align: center
      justify-content: center
      padding: 14px 20px
   .accordeon__button:after, .accordeon__button2:after
      display: none
   .local .arrows
      display: flex
      margin-top: 24px
   .arrow
      width: 46px
      height: 46px
   .area:before
      height: 20px 
   .area:after 
      height: 20px
   .area
      padding: 0 0 40px
   .item__man 
      width: 453px
      top: 240px
   .item__left
      max-width: 55%
   .reg__el
      padding: 17px 20px
   .reg__name
      margin-left: 20px
   .reg__btn
      margin-left: 20px
   .reg__down
      position: relative
      img 
         position: absolute
         right: -58px
         top: -31px
   .pages .nav__content
      width: auto
   .pages .nav__area
      display: block
   .pages .nav__area_adapt 
      display: none
   .pages .header__wrap
      margin-top: 161px
   .main-laser__item p
      font-size: 14px
   .main-laser__area div
      width: 48.2%
   .party__top h3 
      max-width: 168px
      font-size: 30px
      line-height: 39px
   .kids__bottom div p
      font-size: 26px
   .laser__kids
      width: 49%
   .laser__content
      max-width: 47%
   .laser__set div
      width: 32.1%
   .laser__wrap_2 .laser__kids
      width: 63%
   .vr .laser__title
      max-width: 456px
   .main-laser__vr
      left: 337px
   .vr .main-laser__item img
      width: 120px
@media screen and (max-width: 1199px)
   .container 
      max-width: 960px !important
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 46px
      height: 46px
      position: absolute
      right: 0
      top: 0px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.svg) no-repeat center center
      &.active 
         background: url(/img/bur2.svg) no-repeat center center
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: white
      transition: all 0.5s
      margin-left: 5px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 48px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 24px
      height: 2px
      margin-left: 12px
   .menu
      position: fixed
      top: 0px
      left: 0
      width: 100%
      height: 100%
      transform: translateX(-200%)
      transition: transform 0.5s
      z-index: 100
      padding: 171px 0px 20px
      background: rgba(25, 25, 25, 1)
      display: flex
      flex-direction: column 
      align-items: flex-start
      &.active 
         transform: translateX(0%)
      .nav__socials
         display: flex
         margin-top: 80px
      .container 
         width: 100%
      ul 
         li 
            margin-bottom: 20px
            &:last-child
               margin-bottom: 0
            a 
               color: rgba(255, 255, 255, 1)
               font-size: 18px
               font-weight: 400
               line-height: 120%
   .nav__list
      display: none
   .nav__area a
      font-size: 18px
      margin-bottom: 7px
   .nav__area_adapt
      display: block
      width: 100%
      padding: 8px 18px
      box-sizing: border-box
      border: 0.6px solid rgba(255, 255, 255, 0.15)
      border-radius: 60px
      background: rgba(255, 255, 255, 0.05)
      text-align: center
      margin-bottom: 40px
      margin-top: 20px
      margin-right: 0
   .nav.fix 
      .nav__area_adapt
         border: 0.6px solid rgba(255, 255, 255, 0.15)
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
         background: white
      .menu-btn
         background: url(/img/bur11.svg) no-repeat center center
         &.active 
            background: url(/img/bur22.svg) no-repeat center center
   .nav__area p
      font-size: 10px
   .nav
      margin: 20px 0 0
   .nav__content, .nav__info
      background: transparent
      border: none
      padding: 0
   .nav__local
      img 
         width: 30px
         height: 30px
   .nav__local span
      font-size: 14px
      margin-left: 8px
   .nav__socials
      display: none
   .nav__info
      padding: 0
      height: 46px
   .nav__box 
      z-index: 200
      flex-wrap: wrap
      position: relative
   .nav__address
      margin-right: 60px
      margin-left: auto
      padding: 7.5px 10px
   .nav__content
      width: max-content
   .header__wrap
      margin-top: 175px
      padding-bottom: 70px
      flex-direction: column
   .header__wrap h1
      margin-bottom: 32px
      font-size: 45px
   .header .swiper1 .swiper-slide img
      margin: 40px auto 0
   .header__news
      max-width: 100%
   .header__item img 
      height: 300px
      object-position: 0px 0px
   .header .arrows
      display: none
   h2
      font-size: 37px
   .main
      padding-top: 70px
      padding-bottom: 35px
      margin-top: 0
   .main__top
      flex-direction: column 
      align-items: flex-start
   .main__info
      margin-bottom: 24px
   .main .swiper2 .swiper-slide a > img, .main .swiper22 .swiper-slide a > img
      width: 100% !important
      height: 100% !important
   .main .swiper2, .main .swiper22
      height: 520px
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      font-size: 24px
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      width: 100%
      height: 61%
      right: 20px
   .main .swiper2 .swiper-slide_1:hover a .images, .main .swiper22 .swiper-slide_1:hover a .images
      right: 20px !important
   .main .swiper-slide a .main__see .btn
      width: 64%
      margin-top: auto
   .main .swiper2 .swiper-slide:hover a .images img:nth-child(2), .main .swiper22 .swiper-slide:hover a .images img:nth-child(2)
      display: none
   .main .swiper2 .swiper-slide:hover a .images img:nth-child(1), .main .swiper22 .swiper-slide:hover a .images img:nth-child(1)
      opacity: 1
   .main .swiper2 .swiper-slide:before, .main .swiper22 .swiper-slide:before
      opacity: 1 
      top: initial 
      left: initial
      bottom: 20px
      height: 58px
      width: 58px
      background-size: 100% !important
      right: 20px
   .main .swiper-slide a .main__see
      opacity: 1
      height: 100%
      display: flex
      flex-direction: column
   .main .swiper-slide a .main__see p
      margin-top: 62px
      left: 0 !important
      top: 0 !important
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      top: 20px
      left: 20px
      right: initial
      bottom: initial
   .main .swiper2 .swiper-slide a, .main .swiper22 .swiper-slide a
      padding: 20px
   .main .swiper2 .swiper-slide:hover a p, .main .swiper22 .swiper-slide:hover a p
      opacity: 1
   .main__nav
      margin-top: 0
      flex-direction: column 
      align-items: flex-start
   .main__nav .arrows
      margin: 24px 0 32px
   .info, .events
      padding: 35px 0
   .info__box
      flex-direction: column
   .info__left
      max-width: 100%
   .info__right 
      position: relative
      padding-bottom: 20px
      width: 100%
      max-width: 100%
      margin-top: 40px
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 0
      width: 100%
      height: 72%
   .info__right img:first-child 
      width: 50%
      margin: 0 auto
      display: block
   .events .sub
      margin-bottom: 30px
   .events .arrows
      display: flex
   .events .swiper3 .swiper-wrapper
      flex-wrap: initial
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 460px !important
      padding: 20px
   .events .swiper3 .swiper-wrapper .swiper-slide p
      font-size: 24px
   .events .swiper3 .swiper-wrapper .swiper-slide small
      opacity: 1
      margin-top: 12px
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 80% !important
      transform: initial !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2)
      width: 280px
   .events .swiper3 .swiper-wrapper .swiper-slide
      &:last-child
         background: white
         img:first-of-type
            width: auto
            height: 63%
            z-index: -1
            position: absolute
            bottom: 0
            left: 0
            object-fit: contain
   .rev
      padding: 35px 0 70px
   .rev__text
      font-size: 14px
      padding-right: 0
   .rev .swiper4 .swiper-slide
      height: 480px
   .rev__play .svg
      width: 60px 
      height: 60px
      margin-top: -30px
      margin-left: -30px
   .rev .arrows
      display: flex
      margin-top: 24px
   .rev .swiper44 .swiper-slide a img
      height: 250px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 250px
      font-size: 24px
   .rev .swiper44 .swiper-slide a p
      font-size: 16px
      margin-bottom: 15px
   .rev .swiper44 .swiper-slide a span
      font-size: 16px
   .rev .swiper44 .swiper-slide a
      padding: 20px
   .rev .main__top
      margin-bottom: 24px
   .area__man
      display: none
   .area__box
      flex-direction: column
   .area__content h2
      margin: 62px 0 32px
      br 
         display: none
   .area__content a
      margin-bottom: 40px
      img 
         width: 60px
   .area .arrows
      display: flex
      margin-bottom: 60px
   .area .swiper5 
      max-width: 100%
      height: max-content
      &>.swiper-wrapper 
         flex-direction: initial
   .area .swiper5 .swiper-slide
      padding: 18px 20px
      min-height: inherit
   .area .swiper5 .swiper-slide h3
      font-size: 20px
      margin-bottom: 12px
   .area .swiper5 .swiper-slide p
      font-size: 14px
      margin-bottom: 20px
   .area .swiper5 .swiper-slide span
      height: 30px
      font-size: 12px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 250px
   .nav__address-list
      border-radius: 12px
   .main .swiper2, .main .swiper22
      width: 100%
   .popup-call__box
      top: -18rem
   .order h2
      margin-bottom: 24px
   .order__item, .order__block
      padding: 18px 20px
      border-radius: 20px
   .order__item span
      font-size: 14px
   .order__item img
      margin-bottom: 30px
   .order__item p
      margin-bottom: 30px
   .order__block small
      font-size: 14px
   .order__block a
      font-size: 24px
   .footer__left
      margin-right: 100px
   .footer__list li a, .footer__item p
      font-size: 14px
   .footer__item
      margin-bottom: 49px
   .footer__per
      flex-direction: column 
      align-items: flex-start
      & > img 
         width: 46px
         height: 46px
   .footer__info
      margin-left: 0
      margin-top: 8px
   .footer__info p
      font-size: 12px
   .footer__order
      margin-top: 101px
   .nav .nav__content, .nav__info
      border: none !important
      background: transparent !important
      box-shadow: none !important
      backdrop-filter: inherit !important
   .header-item__content p
      margin-bottom: 30px
   .header-item .header__block
      margin-top: 24px
   .header-item__pic
      width: 55%
   .item__man
      display: none
   .item__content
      max-width: 100%
   .bread
      display: none
   .item__content h2
      margin-bottom: 30px
   .item__content h3
      margin-bottom: 12px
   .item__right
      display: none
   .item__left
      max-width: 100%
   .item__el
      margin-bottom: 24px
   .item
      padding: 50px 0
   .item .arrows8
      margin-bottom: 30px
   .reg
      padding: 70px 0
   .reg__line p
      display: none
   .reg__line
      margin-bottom: 32px
   .reg .tabs__nav
      flex-wrap: wrap
   .reg__box
      flex-direction: column 
      position: relative
      // padding-bottom: 620px
   .reg__left, .reg__right
      max-width: 100%
   .reg__info
      margin-bottom: 30px
   .reg__pic
      display: none
   .reg__block p
      margin-bottom: 30px
   .reg__btn
      width: 95.5%
      margin-top: 12px
   .reg__center
      padding-bottom: 20px
   .faq
      padding: 35px 0
   // .reg__mob
   //    min-height: 580px 
   //    position: absolute
   //    bottom: 0
   //    left: 0
   //    width: 100%
   .reg__mob 
      margin-bottom: 30px
   .faq__box
      flex-direction: column 
      align-items: flex-start
   .faq__content
      max-width: 100%
   .faq__area
      position: relative
      margin-top: 340px
   .location
      padding: 35px 0 70px
   .location__top
      margin: 0px 0 24px
      flex-direction: column
      align-items: flex-start
   .location__btn
      margin-top: 30px
      width: 100%
      .btn 
         width: 100%
         height: 46px
         font-size: 12px
      img 
         flex: 1 0 auto 
         max-width: 46px 
         width: 46px
         height: 46px
   .location__wrap
      height: 540px
      padding: 12px
   .location__block
      max-width: 100%
   .pages .nav__content
      border: 0.6px solid rgba(255, 255, 255, 0.15) !important
      border-radius: 60px !important
      backdrop-filter: blur(10px) !important
      background: rgba(255, 255, 255, 0.05) !important
      padding: 10px 12px !important
      height: 62px
   .pages .nav__city
      display: none
   .pages .nav__info .nav__socials a p
      display: none
   .pages .nav__info .nav__socials a span 
      display: block
      color: white
      font-size: 13px
      margin-left: 10px
   .pages .nav__box
      padding-right: 100px
   .pages .nav__info
      border: 0.6px solid rgba(255, 255, 255, 0.15) !important
      border-radius: 60px !important
      backdrop-filter: blur(10px) !important
      background: rgba(255, 255, 255, 0.05) !important
      padding: 10px 12px !important
      height: 62px
      .nav__socials
         display: flex
   .pages .nav__tel
      font-size: 18px
   .pages .header__wrap
      margin-top: 111px
   .pages 
      .menu-btn
         top: 21px
      .nav__logo
         width: 100%
         height: 100%
   // .pages .nav__area
   //    display: none
   // .pages .nav__area_adapt
   //    display: block
   // .pages 
   //    .nav__area_adapt
   //       background: #a848f1
   //       border-radius: 60px
   .main-laser__row
      margin-bottom: 70px
      flex-wrap: wrap
      justify-content: center
      gap: 20px
   .main-laser__item
      height: 92px
      width: 44.4%
   .pages .sub
      margin-bottom: 24px
   .main-laser .arrows 
      justify-content: center
      display: flex
      margin-top: 32px
   .main-laser .swiper10 .swiper-wrapper
      display: flex
      gap: 0
      .swiper-slide
         border-radius: 20px
         width: 303.333px !important
   .main-laser .swiper10
      height: 500px
   .pages .header__wrap span
      margin-bottom: 24px
   .main-laser__wrap
      margin-top: 70px
   .main-laser__flex
      flex-direction: column-reverse
   .main-laser__area
      gap: 10px
      max-width: 100%
   .main-laser__pic
      margin-top: 32px
      height: 400px
      border-radius: 20px
      width: 100%
   .main-laser__area div 
      width: 49.2%
   #main 
      .main-laser__bg2
         display: none
   .mission
      padding: 40px 0
   .pages h2
      margin-bottom: 12px
   .mission .swiper11 .swiper-slide img
      height: 400px
      border-radius: 20px
   .mission .swiper11 .swiper-slide h3
      font-size: 25px
      line-height: 120%
   .mission .swiper11 .swiper-slide p
      font-size: 15.5px
   .party .swiper12 .swiper-slide_2
      min-height: 836px
   .party .arrows
      display: flex
   .info-laser .info__left
      height: 450px
   .party .swiper12 .swiper-slide, .info-laser .info__left
      border-radius: 20px
   .info-laser .info__right
      margin-top: 50px
   .pages 
      .info__right a, .info__right p
         left: 0
   .info-laser .info__right img:nth-child(1)
      width: 50%
      left: -103px
   .main-laser
      padding-top: 35px
   .pages .sub
      font-size: 16px
   .main-laser__area div
      height: 137px
      border-radius: 20px
   .kids__video
      height: 300px
      margin-bottom: 20px
      border-radius: 20px
   .kids__video .svg
      width: 50px
      height: 50px
      margin-top: -25px
      margin-left: -25px
   .kids__bottom img
      display: none
   .kids__bottom div span
      font-size: 16px
      margin-bottom: 12px
   .kids__bottom div p
      font-size: 20px
      line-height: 22px
   .mission .arrows
      margin-top: 32px
   .laser
      padding: 40px 0
   .laser__title
      font-size: 30px
      line-height: 130%
   .laser__row
      flex-direction: column
      margin: 70px 0 48px
   .laser__content
      max-width: 100%
      margin-bottom: 24px
   .laser__image
      border-radius: 20px
      height: 400px
      max-width: 100%
   .laser__set div 
      width: 48.9%
   .laser__set
      margin-bottom: 70px
   .laser__block
      border-radius: 20px 
      padding: 20px
   .laser__wrap_2 .laser__title
      margin-bottom: 60px
   .laser__wrap_2 .laser__kids
      width: 56%
   .place
      padding: 40px 0 70px
      .container
         position: relative
   .place__top
      justify-content: center
      position: initial
      margin-bottom: 24px
   .place__top .btn
      position: absolute
      bottom: 0
      width: 100%
   .place .main-laser__bg2
      display: none
   .place__top h2
      text-align: center
   .place #map
      height: 400px
   .main-laser__vr 
      left: initial
      top: initial
      right: 18px
      bottom: 343px
      font-size: 20px
      height: 42px
   .vr .main-laser__bg3
      top: 500px 
   .vr .sales__row
      margin-top: 30px 
      flex-direction: column
      gap: 8px
   .vr .sales__item
      width: 100%
   .vr .party .swiper12 .swiper-slide_2
      min-height: 754px
   .vr .laser__block img
      width: 50%
   .vr .laser__kids
      right: 16px
   .place__wrap
      padding-bottom: 90px
   .vr .main-laser__item img 
      position: absolute
      right: 17px
      top: 26px
   .vr .sub, .vr .main-laser h2
      br 
         display: none
   .main-laser__vr
      bottom: 241px
@media ( max-width: 991px )
   .container 
      max-width: 720px !important
   .popup-call__box
      width: 100%
      left: 0
      margin-left: 0
   .arcticmodal-container_i, .arcticmodal-container_i2
      width: 100%
   .header__wrap h1
      font-size: 38px
   .header .swiper1 .swiper-slide a
      height: 46px
      width: 100%
      font-size: 14px
   .nav__area_adapt
      margin-bottom: 30px
   .header .swiper1 .swiper-slide img
      max-width: 60%
   .header__item, .header__block
      padding: 12px 14px
      border-radius: 20px
   .header__item div p
      font-size: 20px
   .header__item div span
      font-size: 40px
   .header__item img
      height: 240px
      border-radius: 12px
   .header__block div p
      font-size: 20px
      margin-bottom: 20px
      width: 100%
      max-width: 155px
   .header__block div span
      display: none
   .header__block
      overflow: hidden
      position: relative
      align-items: flex-start
      div 
         width: 100%
         position: relative
         z-index: 2
      img 
         position: absolute
         right: -42px
         top: -8px
         height: 139%
   .header__block a
      width: 100%
   h2 
      font-size: 34px
      margin-bottom: 12px
   .sub
      font-size: 14px
   .tabs__nav a
      font-size: 18px
      height: 52px
   .tabs__nav a div
      width: 44px
      height: 44px
   .main .swiper2 .swiper-slide a > img, .main .swiper22 .swiper-slide a > img
      border-radius: 20px
   .main .swiper-slide a .main__see p
      font-size: 14px !important
   .main .swiper-slide a .main__see .btn
      height: 46px
      font-size: 14px
   .main .swiper2 .swiper-slide:before, .main .swiper22 .swiper-slide:before
      width: 46px
      height: 46px
   .main .swiper2, .main .swiper22
      height: 429px
   .main .swiper2 .swiper-slide:hover a .images, .main .swiper22 .swiper-slide:hover a .images
      right: 0
   .main__nav .btn
      height: 46px
      font-size: 14px
   .info__left
      border-radius: 20px
      padding: 20px
      img 
         display: none
   .info__content
      padding: 0
   .info__content h2
      margin-bottom: 12px
   .info__content p
      font-size: 14px
      margin-bottom: 20px
   .info__content a, .info__right a, .events .swiper3 .swiper-wrapper .swiper-slide .btn
      width: 100%
      height: 46px
      font-size: 14px
   .info__right a, .info__right p
      left: 0
   .info__right p
      font-size: 24px
   .info__right a
      position: relative
      left: 20px
      width: 94.5%
      margin: 0
   .info__right img:nth-child(2)
      border-radius: 20px
   .events .swiper3 .swiper-wrapper .swiper-slide
      height: 434px
      border-radius: 20px
      width: 690px !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2) 
      right: 40px
      bottom: 64px
      max-width: 320px !important
   .events .swiper3 .swiper-wrapper .swiper-slide small
      font-size: 14px
      max-width: 315px
   .rev .swiper4 .swiper-slide
      padding: 18px 20px 
      border-radius: 20px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 220px
   .area .swiper5 .swiper-slide
      border-radius: 20px
   .popup-call__box .swiper7
      width: 90%
   .order__box
      flex-direction: column
   .order__item, .order__block
      width: 100%
   .order__item
      margin-right: 0
      margin-bottom: 12px
   .footer__box
      justify-content: space-between
      position: relative
      flex-direction: inherit
      flex-wrap: wrap
      padding-bottom: 150px
   .footer__content
      width: 100%
      margin-left: 0
   .footer__area
      margin-left: 0
      display: flex
      margin-bottom: 60px
      margin-top: 60px
   .footer__per
      margin-bottom: 0
      &:first-child
         margin-right: 35px
   .footer__order
      margin-left: 0
      text-align: left
      margin-top: 0
   .footer__order a
      text-align: left
   .footer__links
      margin-top: 0
      position: absolute
      bottom: 40px
      left: 0
   .footer__item
      margin-bottom: 30px
   .header__block a
      height: 38px
      font-size: 12px
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type 
      height: 63%
      bottom: 72px
      left: initial
      right: 0
   .item .swiper8 .swiper-slide-active
      width: 340px !important
   .item .swiper8
      height: 380px
      margin-top: 24px
   .header-item__content
      margin-top: 30px
      max-width: 100%
   .header-item__content a
      width: 100%
   .header-item__pic
      width: 100%
      position: relative
   .header-item .header__wrap
      padding-bottom: 0
   .header-item .header__block
      max-width: 100%
   .header-item__content h1
      margin-bottom: 21px
   .item .swiper8 .swiper-slide-active
      width: 510px !important
   .reg .tabs__nav
      flex-direction: inherit
   .reg .tabs__nav
      margin-bottom: 22px
   .pages .header__wrap .q
      margin-bottom: 0
   .main-laser__item
      width: 100%
   .main-laser__row
      gap: 10px
   .main-laser .swiper10 .swiper-wrapper .swiper-slide
      width: 690px !important
   .main-laser .swiper10
      height: 300px
   .main-laser__pic
      height: 300px
   .mission
      padding: 35px 0
   .mission .swiper11 .swiper-slide img
      height: 335px
   .mission .swiper11 .swiper-slide h3
      font-size: 20px
   .mission .swiper11 .swiper-slide p
      font-size: 14px
      line-height: 17px
   .pages .sub
      font-size: 14px
      line-height: 17px
   .party .swiper12 .swiper-slide
      min-height: initial
   .party__sum
      margin-top: 30px
   .party__info
      margin-bottom: 24px
   .info-laser .info__left img
      display: block
   .info-laser .info__left .info__content
      padding: 20px
   .info-laser__flex
      margin-top: 70px
   .info-laser .info__left
      height: auto
   .info-laser .info__right img:nth-child(1) 
      margin-left: -181px
      width: 50%
      left: 50%
   .pages .info__right a
      left: 21px
   .pages .info__right p
      left: 8px
   .kids__bottom div p
      br 
         display: none
   .laser__title
      margin-bottom: 60px
      font-size: 24px
      line-height: 26px
   .laser__kids
      width: 45%
   .laser__image
      height: 300px
   .laser__set div
      width: 100%
      border-radius: 20px
   .laser__set
      gap: 8px
   .laser__set div:before
      margin-bottom: 40px
   .laser__text
      width: 42%
      br 
         display: none
   .vr .party .swiper12 .swiper-slide
      min-height: initial
      height: auto
   .vr 
      .party .swiper12
         margin-top: 10px
      .party .swiper12 .swiper-wrapper
         align-items: initial
         .party__sum
            margin-top: auto
   .vr .sales
      padding: 30px 0
   .vr .mission .main-laser__bg1
      right: -285px
@media screen and (max-width: 767px)
   .container 
      max-width: 540px !important
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 510px !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type
      height: 54%
   .tabs__nav
      width: 100%
      flex-direction: column
   .tabs__nav a
      margin-right: 0 !important
      width: 100%
      margin-bottom: 8px
      padding-left: 14px
      &:last-child
         margin-bottom: 0
   .pages .nav__content
      height: 46px
   .pages .nav__info
      height: 46px
      margin-left: 0
      margin-right: 0
   .pages .nav__info .nav__socials .svg
      width: 24px
   .pages .nav__info .nav__socials a span
      font-size: 12px
   .pages .nav__area
      display: none
   .pages .nav__area_adapt
      display: block
      width: 100%
      margin-top: 12px
      height: 54px
      background: #a848f1
      border-radius: 60px
      margin-bottom: 0
      p 
         font-size: 10px
         text-align: center
         margin-top: 1px
      .nav__tel 
         margin-top: 0
         width: auto
         height: auto
         border: none
         background: transparent
   .pages .nav__box
      padding-right: 0
      justify-content: space-between
   .pages .menu-btn
      position: relative
      top: 0
   .pages .header__wrap
      margin-top: 48px
   .pages .header__wrap span
      font-size: 14px
      line-height: 17px
      height: 37px
      width: 157px
   .pages .header__wrap h1
      br 
         display: none
   .pages .header__wrap p
      font-size: 14px
      line-height: 17px
      margin-bottom: 24px
      width: 100%
      max-width: 261px
   .pages .header__wrap .q
      width: 100% 
      flex-direction: column
      a 
         width: 100% !important
         height: 46px
         font-size: 14px
   .pages .header__wrap .q a:first-child
      margin-right: 0
      margin-bottom: 12px
   .main-laser__item
      padding-right: 10px
      padding-left: 24px
      p
         line-height: 17px
   .main-laser .swiper10 .swiper-wrapper .swiper-slide
      width: 510px !important
   .main-laser__area div
      padding: 16px
      align-items: center
      height: 72px
      flex-direction: initial
      border-radius: 12px
      width: 100%
      &:last-child
         br 
            display: none
   .main-laser__area
      gap: 8px
   .main-laser__area div p
      margin-left: 16px
      font-size: 14px
      font-weight: 400
      color: #ffffff
      line-height: 17px
      margin-top: 0
   .party .swiper12 .swiper-wrapper
      align-items: flex-start
   .party .swiper12 .swiper-slide
      padding: 20px
   .party__top h3
      font-size: 24px
      line-height: 26px
   .party__top span
      font-size: 12px
      line-height: 100%
      height: 27px
      text-transform: uppercase
   .party__top
      margin-bottom: 32px
   .party__info div
      height: 34px
      font-size: 14px
   .party__item p
      font-size: 20px
      line-height: 22px
      margin-bottom: 12px
   .party__item ul li
      font-size: 14px
      line-height: 17px
   .party__sum 
      margin-top: 6px
      font-size: 24px
      line-height: 26px
      margin-bottom: 12px
   .party .swiper12 .swiper-slide .btn
      height: 46px
      font-size: 14px
   .info-laser .info__left
      padding: 0
   .info-laser .info__left .info__content p
      font-size: 14px
      line-height: 17px
   .info-laser__flex
      flex-direction: column 
      align-items: flex-start
   .info-laser .info__left .info-laser__flex p 
      margin-right: 0
      margin-bottom: 8px
   .info-laser__flex .nav__tel
      height: 42px
      width: 172px
      font-size: 14px
      .svg 
         width: 15px
   .pages .info__right a
      left: 15px
   .info-laser .info__right img:nth-child(1)
      margin-left: -81px
   .laser__text 
      width: 100%
      font-size: 14px
      line-height: 17px
      max-width: 300px
   .laser__block
      padding-bottom: 219px
   .laser__block img
      object-fit: cover
   .laser__btn 
      width: 100%
      height: 46px
      font-size: 14px
   .laser__kids 
      width: 300px
      right: 50%
      margin-right: -150px
   .laser__content .laser__title
      margin-bottom: 20px
   .laser__txt p
      font-size: 14px
      line-height: 17px
      margin-bottom: 12px
   .laser__set div span
      font-size: 20px
      line-height: 22px
   .laser__set div p
      font-size: 14px
      line-height: 17px
   .laser__set div:before
      width: 10px
      height: 10px
   .laser__wrap_2 .laser__kids 
      margin-right: -191px
      border-radius: 0
      width: 400px
      right: 50%
   .place__top h2 span
      margin-top: 12px
      font-size: 14px
   .place__wrap
      padding-bottom: 60px
   .place__top .btn
      height: 46px
      font-size: 14px
   .vr 
      .nav__area_adapt
         background: #3573f9
   .vr .header__wrap p
      max-width: 100%
   .vr .main-laser__item
      border-radius: 20px
      padding: 9px 12px
   .vr .main-laser__item img 
      right: initial
      top: 8px
      left: 12px
      width: 108px
   .vr .main-laser__item
      height: auto
      padding-top: 134px
   .vr .main-laser__item span
      font-size: 19px
      margin-bottom: 12px
   .vr .main-laser__wrap
      margin-bottom: 70px
   .vr .mission .swiper11
      margin-top: 30px
   .vr .sales__item
      padding: 20px
      border-radius: 20px
   .vr .sales__item img
      height: 180px
      margin-bottom: 20px
   .vr .sales__item h3 
      font-size: 20px
      line-height: 22px
      margin-bottom: 8px
   .vr .sales__item span 
      opacity: 0.8
      font-size: 18px
      line-height: 24px
      margin-bottom: 20px
   .vr .sales__item p 
      font-size: 14px
      line-height: 17px
   .vr .laser__block img 
      width: 300px
      margin-right: -150px
      right: 50%
   .vr .laser__kids 
      height: 296px
      right: 50%
      width: auto
      margin-right: -136px
   .vr .laser__block 
      padding-bottom: 308px
   .vr 
      .header__wrap span
         padding: 0 10px
         font-size: 14px
         line-height: 17px
         height: 37px
         width: max-content
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block !important
   .nav__logo
      width: 97px
   .header__item
      margin-bottom: 12px
   .header__item img
      height: 140px
   .header__block img
      height: 113%
   .header .swiper1 .swiper-slide img
      max-width: 80%
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      bottom: 44px
   .main .swiper2 .swiper-slide_1:hover a .images, .main .swiper22 .swiper-slide_1:hover a .images
      right: 20px !important
   .main .swiper2 .swiper-slide_1 a .images, .main .swiper22 .swiper-slide_1 a .images
      width: 100%
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      height: 210px
      right: 20px !important
   .info__right img:first-child
      width: 94%
   .info__right a
      width: 87%
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 100% !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 240px !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2)
      width: 200px
      right: initial
      left: 10px
      bottom: 89px
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type
      height: 47% !important
   .rev .swiper44 .swiper-slide a
      border-radius: 20px
   .rev .swiper44 .swiper-slide a img
      height: 220px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 220px
   .box-modal__close
      top: 15px
      right: 15px
   .arcticmodal-container_i2
      padding: 12px
   .popup__title
      width: 100%
      max-width: 215px
   .accordeon__button:hover, .accordeon__button2:hover
      color: $black
   .order__block p
      margin-bottom: 60px
      width: 100%
      max-width: 250px
   .footer__left
      margin-right: 0
   .header-item__content
      margin-top: 0
   .header-item__content p
      font-size: 14px
      opacity: 0.8 !important
   .item__content h3
      font-size: 20px
   .item__text p
      margin-bottom: 8px
      font-size: 14px
   .item .swiper8 .swiper-slide-active
      width: 100% !important
   .item .swiper8 .swiper-slide
      border-radius: 20px
   .item__el span
      font-size: 20px
      margin-bottom: 12px
   .item__el p
      font-size: 14px
   .reg .tabs__nav a
      height: auto
      padding: 6px 12px
      font-size: 16px
   .reg .tabs__nav
      gap: 8px
   .reg__block
      border-radius: 20px
      padding: 18px 20px
   .reg__block h3
      font-size: 20px
      margin-bottom: 12px
   .reg__block p
      font-size: 14px
   .reg__block small
      font-size: 12px
      margin-bottom: 2px
   .reg__block span
      font-size: 18px
   .reg__title
      font-size: 20px
   .reg__sub
      font-size: 14px
   .reg .swiper9 .swiper-slide a, .reg .swiper9 .swiper-slide a img
      border-radius: 20px
   .reg .swiper9 .swiper-slide a h4
      font-size: 20px
   .reg__text
      margin-bottom: 24px
   .reg .tabs__nav a img
      margin-right: 5px
   .reg__el span, .reg__el p
      font-size: 14px
   .reg__el 
      padding: 14px 20px
   .reg__btn
      height: 46px
      padding: 0
      width: 86%
      font-size: 14px
   .reg__down
      padding: 20px
   .reg__down div span
      font-size: 18px
      margin-bottom: 20px
   .reg__down div a
      font-size: 18px
      .svg 
         width: 18px
   .reg__top
      border-radius: 20px 20px 0px 0px
   .reg__down
      border-radius: 0 0 20px 20px 
   .reg__down img
      width: 108px
   .faq__item
      margin-bottom: 8px
      padding: 12px 20px 
      border-radius: 12px
      img 
         flex: 1 0 auto 
         max-width: 24px 
         width: 24px
         height: 24px
   .faq__item p
      font-size: 16px
      margin-right: 12px
   .faq__area
      padding: 20px
      margin-top: 237px
      max-width: 100%
      img 
         object-fit: cover
         border-radius: 20px
         width: 100%
         height: 270px
      .mob 
         object-fit: contain
         height: 317px
         border-radius: 0px
   .faq__area p
      font-size: 14px
   .location__wrap
      border-radius: 20px
   .location__per
      margin-bottom: -27px
      padding: 16px 16px 40px
      border-radius: 20px 20px 0 0
   .location__per small
      font-size: 14px
      margin-bottom: 20px
   .location__per p
      font-size: 18px
   .location__per span
      font-size: 14px
   .location .reg__down
      border-radius: 20px
   .location .reg__down div span, .location .reg__down div a
      font-size: 18px
   .location .reg__down div p
      margin-bottom: 12px
      font-size: 12px
      br 
         display: none
   .faq 
      padding-top: 0
   .container
      padding: 0 10px
   .pages .nav
      margin-top: 11px
   .pages .nav__content
      margin-right: 0
   .pages 
      .header__bg
         object-position: -629px 0
   .pages .header__wrap h1
      width: 100%
      max-width: 300px
   main.main-laser
      padding-top: 68px
   .main-laser__item p
      br 
         display: none
   .main-laser__item p 
      line-height: 17px
      width: 100%
      font-size: 13px
      max-width: 170px
   .main-laser__bg1 
      left: -1px
      top: -211px
      width: 133%
   .main-laser__row
      margin-bottom: 62px
   .main-laser .swiper10 .swiper-wrapper .swiper-slide
      width: 100% !important
   .main-laser__wrap
      margin-top: 57px
   .main-laser__area div .svg 
      width: 40px
   .main-laser__area div p
      font-size: 13px
   .main-laser__bg3 
      left: -89px
      top: 500px
      width: 100%
   .mission .main-laser__bg1 
      left: initial
      top: -175px
      right: -120px
      width: 100%
   .pages .sub
      font-size: 13px
   .mission .swiper11 .swiper-slide img
      margin-bottom: 12px
   .mission .swiper11 .swiper-slide h3
      font-size: 19px
      margin-bottom: 9px
   .mission .swiper11 .swiper-slide p
      font-size: 13px
   .party .main-laser__bg3 
      left: initial
      top: -298px
      right: -128px
      width: 500px
   .party .main-laser__bg2 
      right: initial
      top: 431px
      left: -11px
      width: 100%
   .info-laser 
      .info__box
         position: relative
         z-index: 5
   .party__top h3 
      font-size: 23px
      line-height: 26px
      max-width: 140px
   .party__top span 
      font-size: 9px
      line-height: 100%
      height: 27px
      text-transform: uppercase
      padding: 1px 8px 0
   .party__info div
      padding: 0 9px
   .party__info div img
      margin-right: 5px
   .party__item p
      font-size: 19px
   .party__item ul li:before 
      width: 5px
      height: 5px
      margin-right: 8px
      max-width: 5px
   .party__item ul li 
      margin-bottom: 8px
      font-size: 13px
      line-height: 17px
   .party__item
      margin-bottom: 20px
   .party__sum 
      margin-top: 10px
      font-size: 23px
      line-height: 26px
      margin-bottom: 12px
   .info-laser .info__left .info__content h2 
      margin-bottom: 23px
   .info-laser .info__left .info__content p
      font-size: 13px
   .info-laser__flex
      margin-top: 80px
   .pages .info__right p
      font-size: 20px
      line-height: 22px
   .info-laser .info__right
      margin-top: 36px
   .info-laser .info__right img:nth-child(1) 
      margin-left: -150px
      width: 300px
   .pages .info__right p 
      font-size: 19px
      line-height: 22px
      left: -1px
   .kids__video 
      height: 196px
      margin-bottom: 17px
      border-radius: 20px
   .kids__bottom div span
      font-size: 11px
      line-height: 18px
   .kids__bottom div p
      font-size: 19px
   .laser
      padding: 33px 0
   .laser__title 
      margin-bottom: 59px
      font-size: 23px
      line-height: 26px
   .laser__text 
      margin-bottom: 20px
      width: 100%
      font-size: 13px
      line-height: 17px
      max-width: 300px
   .laser__txt p
      font-size: 13px
   .laser__set div span
      font-size: 19px
   .laser__set div p
      font-size: 13px
   .laser .main-laser__bg2
      display: none
   .place .main-laser__bg1 
      object-fit: cover
      top: -732px
      left: 217px
      width: 613px
   .laser__wrap_2 .laser__kids 
      margin-right: -136px
      border-radius: 0
      width: 300px
      right: 50%
   .laser__wrap_2
      .laser__block
         padding-bottom: 173px
   .place__top
      margin-bottom: 11px
   .ymaps-2-1-79-image 
      width: 40px !important
      height: 40px !important
      background-size: 100% !important
   .place #map
      height: 298px
   .place .main-laser__bg2 
      width: 400px
      display: block
      top: initial
      bottom: -259px
      right: initial
      left: 50% 
      margin-left: -230px
   .laser__block img
      border-radius: 20px
   .vr .header__wrap h1
      margin-bottom: 90px
   .vr .header__bg 
      object-position: inherit
   .vr .header__wrap p
      font-size: 14px
      line-height: 17px
   .vr header 
      border-radius: 0px 0px 20px 20px
      overflow: hidden
   .vr .main-laser__item span, .vr .main-laser__item p
      max-width: 100%
   .vr .main-laser__item
      padding-bottom: 12px
   .vr 
      #main .main-laser__bg2 
         display: block
         top: 537px
         width: 150px
         right: -17px
   .vr .main-laser__bg3
      top: 847px
   .main-laser__vr 
      bottom: 250px
      right: 7px
   .vr .party__top h3 
      max-width: 166px
      font-size: 23px
      font-weight: 500
      color: #ffffff
      line-height: 26px
   .vr .party__info div
      font-size: 10px
   .vr .sales__item .btn
      height: 46px
      font-size: 14px
   .vr .mission .main-laser__bg1 
      left: initial
      right: -59px
      width: 700px
      top: -53px
   .vr .kids .main-laser__bg1 
      left: initial
      right: initial
      width: 500px
      top: 213px
      left: -12px
   .vr .place .main-laser__bg1 
      bottom: -16%
      right: -16px
      top: initial
      left: initial
@media screen and (max-width: 576px) and (min-width: 410px) 
   .info__right a 
      width: 90.6%
@media screen and (max-width: 410px) and (min-width: 360px) 
   .info__right a 
      width: 88.3%

   