@media screen and (max-width: 1500px)
   .container 
      max-width: 1300px
   .nav__list li a
      font-size: 14px
   .nav__list li
      margin-left: 25px 
   .nav__content
      padding: 15px
   .nav__area a
      font-size: 20px
   h2 
      font-size: 44px
   .info__right
      img 
         &:first-child
            width: 100%
   .info__right a
      left: -5px
   .info__right p
      left: -5px
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 52px
      width: 364px
      height: 476px
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 48.4% !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 92%
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2) 
      right: 153px
      bottom: 68px
      max-width: 363px
      width: 100%
   .events .swiper3 .swiper-wrapper .swiper-slide:first-child img:nth-child(2)
      max-width: 500px
   .rev .swiper4 .swiper-slide
      height: 600px
   .local__bottom h3
      font-size: 20px
   .footer__left
      margin-right: 190px
@media screen and (max-width: 1300px)
   .container 
      max-width: 1200px
   .nav__area
      display: none 
   .nav__content 
      padding: 15px 22px
      width: 71%
   .nav__info
      padding: 15px
   .nav__list li
      margin-left: 35px
   .header .swiper1 .swiper-slide img 
      margin-top: -90px
      max-width: 695px
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      right: 0
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      font-size: 32px
   .main .swiper-slide a .main__see p
      font-size: 16px !important
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 81px
      width: 364px
      height: 447px
   .info__right a, .info__right p
      left: -20px
   .events .swiper3 .swiper-wrapper .swiper-slide 
      width: 48.2% !important
   .rev .swiper44 .swiper-slide a img
      height: 300px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 300px
   .area__man 
      margin: -59px 0 0 100px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 290px
   .area .swiper5
      height: 1194px
   .area .swiper5 .swiper-slide
      height: max-content !important
   .local
      padding: 50px 0
      margin-top: 50px
   .local__bottom h3
      font-size: 18px
   .local__text
      font-size: 14px
   .order__item p, .order__block p
      font-size: 24px
   .order__item img
      width: 100px
   .order
      padding: 70px 0
   .footer__box
      padding: 40px 0
   .footer__left
      margin-right: 150px
   .footer__order a
      font-size: 32px
   .footer__order
      margin-top: 176px
   .local
      padding-top: 70px
      padding-bottom: 0
      margin-top: 0
   .local h2
      margin-bottom: 24px
   .local__top
      margin-bottom: 0
      height: 300px
      border-radius: 20px 
      padding: 12px
   .local__bottom
      border-radius: 20px 
      padding: 12px
   .local__info .btn
      height: 38px
      font-size: 12px
   .local__info img
      max-width: 38px 
      height: 38px
   .popup-call__box
      padding: 30px 20px 
      border-radius: 20px 
   .popup__title
      font-size: 24px
   .popup-call__box .rev__wrap
      height: 220px
      border-radius: 12px 
   .popup__text p
      font-size: 14px
   .popup-call__box .swiper7
      height: 180px
   .popup-call__box .swiper7 .swiper-slide
      border-radius: 20px 
   .local__bottom .accordeon__button
      font-size: 14px
      text-align: center
      justify-content: center
      padding: 14px 20px
   .accordeon__button:after, .accordeon__button2:after
      display: none
   .local .arrows
      display: flex
      margin-top: 24px
   .arrow
      width: 46px
      height: 46px
   .area:before
      height: 20px 
   .area:after 
      height: 20px
   .area
      padding: 0 0 40px
@media screen and (max-width: 1199px)
   .container 
      max-width: 960px !important
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 46px
      height: 46px
      position: absolute
      right: 0
      top: 0px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.svg) no-repeat center center
      &.active 
         background: url(/img/bur2.svg) no-repeat center center
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: white
      transition: all 0.5s
      margin-left: 5px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 48px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 24px
      height: 2px
      margin-left: 12px
   .menu
      position: fixed
      top: 0px
      left: 0
      width: 100%
      height: 100%
      transform: translateX(-200%)
      transition: transform 0.5s
      z-index: 100
      padding: 171px 0px 20px
      background: rgba(25, 25, 25, 1)
      display: flex
      flex-direction: column 
      align-items: flex-start
      &.active 
         transform: translateX(0%)
      .nav__socials
         display: flex
         margin-top: 80px
      .container 
         width: 100%
      ul 
         li 
            margin-bottom: 20px
            &:last-child
               margin-bottom: 0
            a 
               color: rgba(255, 255, 255, 1)
               font-size: 18px
               font-weight: 400
               line-height: 120%
   .nav__list
      display: none
   .nav__area a
      font-size: 18px
      margin-bottom: 7px
   .nav__area_adapt
      display: block
      width: 100%
      padding: 8px 18px
      box-sizing: border-box
      border: 0.6px solid rgba(255, 255, 255, 0.15)
      border-radius: 60px
      background: rgba(255, 255, 255, 0.05)
      text-align: center
      margin-bottom: 40px
      margin-top: 20px
      margin-right: 0
   .nav__area p
      font-size: 10px
   .nav
      margin: 20px 0 0
   .nav__content, .nav__info
      background: transparent
      border: none
      padding: 0
   .nav__local
      img 
         width: 30px
         height: 30px
   .nav__local span
      font-size: 14px
      margin-left: 8px
   .nav__socials
      display: none
   .nav__info
      padding: 0
      height: 46px
   .nav__box 
      z-index: 200
      flex-wrap: wrap
      position: relative
   .nav__address
      margin-right: 60px
      margin-left: auto
      padding: 7.5px 10px
   .nav__content
      width: max-content
   .header__wrap
      margin-top: 0
      padding-bottom: 70px
      flex-direction: column
   .header__wrap h1
      margin-bottom: 32px
      font-size: 45px
   .header .swiper1 .swiper-slide img
      margin: 40px auto 0
   .header__news
      max-width: 100%
   .header__item img 
      height: 300px
      object-position: 0px 0px
   .header .arrows
      display: none
   h2
      font-size: 37px
   .main
      padding-top: 70px
      padding-bottom: 35px
      margin-top: 0
   .main__top
      flex-direction: column 
      align-items: flex-start
   .main__info
      margin-bottom: 24px
   .main .swiper2 .swiper-slide a > img, .main .swiper22 .swiper-slide a > img
      width: 100% !important
      height: 100% !important
   .main .swiper2, .main .swiper22
      height: 520px
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      font-size: 24px
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      width: 100%
      height: 61%
      right: 20px
   .main .swiper2 .swiper-slide_1:hover a .images, .main .swiper22 .swiper-slide_1:hover a .images
      right: 20px !important
   .main .swiper-slide a .main__see .btn
      width: 64%
      margin-top: auto
   .main .swiper2 .swiper-slide:hover a .images img:nth-child(2), .main .swiper22 .swiper-slide:hover a .images img:nth-child(2)
      display: none
   .main .swiper2 .swiper-slide:hover a .images img:nth-child(1), .main .swiper22 .swiper-slide:hover a .images img:nth-child(1)
      opacity: 1
   .main .swiper2 .swiper-slide:before, .main .swiper22 .swiper-slide:before
      opacity: 1 
      top: initial 
      left: initial
      bottom: 20px
      height: 58px
      width: 58px
      background-size: 100% !important
      right: 20px
   .main .swiper-slide a .main__see
      opacity: 1
      height: 100%
      display: flex
      flex-direction: column
   .main .swiper-slide a .main__see p
      margin-top: 62px
      left: 0 !important
      top: 0 !important
   .main .swiper2 .swiper-slide a p, .main .swiper22 .swiper-slide a p
      top: 20px
      left: 20px
      right: initial
      bottom: initial
   .main .swiper2 .swiper-slide a, .main .swiper22 .swiper-slide a
      padding: 20px
   .main .swiper2 .swiper-slide:hover a p, .main .swiper22 .swiper-slide:hover a p
      opacity: 1
   .main__nav
      margin-top: 0
      flex-direction: column 
      align-items: flex-start
   .main__nav .arrows
      margin: 24px 0 32px
   .info, .events
      padding: 35px 0
   .info__box
      flex-direction: column
   .info__left
      max-width: 100%
   .info__right 
      position: relative
      padding-bottom: 20px
      width: 100%
      max-width: 100%
      margin-top: 40px
   .info__right img:nth-child(2) 
      position: absolute
      right: 0
      bottom: 0
      width: 100%
      height: 72%
   .info__right img:first-child 
      width: 50%
      margin: 0 auto
      display: block
   .events .sub
      margin-bottom: 30px
   .events .arrows
      display: flex
   .events .swiper3 .swiper-wrapper
      flex-wrap: initial
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 460px !important
      padding: 20px
   .events .swiper3 .swiper-wrapper .swiper-slide p
      font-size: 24px
   .events .swiper3 .swiper-wrapper .swiper-slide small
      opacity: 1
      margin-top: 12px
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 80% !important
      transform: initial !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2)
      width: 280px
   .events .swiper3 .swiper-wrapper .swiper-slide
      &:last-child
         background: white
         img:first-of-type
            width: auto
            height: 63%
            z-index: -1
            position: absolute
            bottom: 0
            left: 0
            object-fit: contain
   .rev
      padding: 35px 0 70px
   .rev__text
      font-size: 14px
      padding-right: 0
   .rev .swiper4 .swiper-slide
      height: 480px
   .rev__play .svg
      width: 60px 
      height: 60px
      margin-top: -30px
      margin-left: -30px
   .rev .arrows
      display: flex
      margin-top: 24px
   .rev .swiper44 .swiper-slide a img
      height: 250px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 250px
      font-size: 24px
   .rev .swiper44 .swiper-slide a p
      font-size: 16px
      margin-bottom: 15px
   .rev .swiper44 .swiper-slide a span
      font-size: 16px
   .rev .swiper44 .swiper-slide a
      padding: 20px
   .rev .main__top
      margin-bottom: 24px
   .area__man
      display: none
   .area__box
      flex-direction: column
   .area__content h2
      margin: 62px 0 32px
      br 
         display: none
   .area__content a
      margin-bottom: 40px
      img 
         width: 60px
   .area .arrows
      display: flex
      margin-bottom: 60px
   .area .swiper5 
      max-width: 100%
      height: max-content
      &>.swiper-wrapper 
         flex-direction: initial
   .area .swiper5 .swiper-slide
      padding: 18px 20px
      min-height: inherit
   .area .swiper5 .swiper-slide h3
      font-size: 20px
      margin-bottom: 12px
   .area .swiper5 .swiper-slide p
      font-size: 14px
      margin-bottom: 20px
   .area .swiper5 .swiper-slide span
      height: 30px
      font-size: 12px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 250px
   .nav__address-list
      border-radius: 12px
   .main .swiper2, .main .swiper22
      width: 100%
   .popup-call__box
      top: -18rem
   .order h2
      margin-bottom: 24px
   .order__item, .order__block
      padding: 18px 20px
      border-radius: 20px
   .order__item span
      font-size: 14px
   .order__item img
      margin-bottom: 30px
   .order__item p
      margin-bottom: 30px
   .order__block small
      font-size: 14px
   .order__block a
      font-size: 24px
   .footer__left
      margin-right: 100px
   .footer__list li a, .footer__item p
      font-size: 14px
   .footer__item
      margin-bottom: 49px
   .footer__per
      flex-direction: column 
      align-items: flex-start
      & > img 
         width: 46px
         height: 46px
   .footer__info
      margin-left: 0
      margin-top: 8px
   .footer__info p
      font-size: 12px
   .footer__order
      margin-top: 101px
@media ( max-width: 991px )
   .container 
      max-width: 720px !important
   .popup-call__box
      width: 100%
      left: 0
      margin-left: 0
   .arcticmodal-container_i, .arcticmodal-container_i2
      width: 100%
   .header__wrap h1
      font-size: 38px
   .header .swiper1 .swiper-slide a
      height: 46px
      width: 100%
      font-size: 14px
   .nav__area_adapt
      margin-bottom: 30px
   .header .swiper1 .swiper-slide img
      max-width: 60%
   .header__item, .header__block
      padding: 12px 14px
      border-radius: 20px
   .header__item div p
      font-size: 20px
   .header__item div span
      font-size: 40px
   .header__item img
      height: 240px
      border-radius: 12px
   .header__block div p
      font-size: 20px
      margin-bottom: 20px
      width: 100%
      max-width: 155px
   .header__block div span
      display: none
   .header__block
      overflow: hidden
      position: relative
      align-items: flex-start
      div 
         width: 100%
         position: relative
         z-index: 2
      img 
         position: absolute
         right: -42px
         top: -8px
         height: 139%
   .header__block a
      width: 100%
   h2 
      font-size: 34px
      margin-bottom: 12px
   .sub
      font-size: 14px
   .tabs__nav a
      font-size: 18px
      height: 52px
   .tabs__nav a div
      width: 44px
      height: 44px
   .main .swiper2 .swiper-slide a > img, .main .swiper22 .swiper-slide a > img
      border-radius: 20px
   .main .swiper-slide a .main__see p
      font-size: 14px !important
   .main .swiper-slide a .main__see .btn
      height: 46px
      font-size: 14px
   .main .swiper2 .swiper-slide:before, .main .swiper22 .swiper-slide:before
      width: 46px
      height: 46px
   .main .swiper2, .main .swiper22
      height: 429px
   .main .swiper2 .swiper-slide:hover a .images, .main .swiper22 .swiper-slide:hover a .images
      right: 0
   .main__nav .btn
      height: 46px
      font-size: 14px
   .info__left
      border-radius: 20px
      padding: 20px
      img 
         display: none
   .info__content
      padding: 0
   .info__content h2
      margin-bottom: 12px
   .info__content p
      font-size: 14px
      margin-bottom: 20px
   .info__content a, .info__right a, .events .swiper3 .swiper-wrapper .swiper-slide .btn
      width: 100%
      height: 46px
      font-size: 14px
   .info__right a, .info__right p
      left: 0
   .info__right p
      font-size: 24px
   .info__right a
      position: relative
      left: 20px
      width: 94.5%
      margin: 0
   .info__right img:nth-child(2)
      border-radius: 20px
   .events .swiper3 .swiper-wrapper .swiper-slide
      height: 434px
      border-radius: 20px
      width: 690px !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2) 
      right: 40px
      bottom: 64px
      max-width: 320px !important
   .events .swiper3 .swiper-wrapper .swiper-slide small
      font-size: 14px
      max-width: 315px
   .rev .swiper4 .swiper-slide
      padding: 18px 20px 
      border-radius: 20px
   .area .rev__play, .area__pic, .area .rev__wrap:after, .area .rev__wrap
      height: 220px
   .area .swiper5 .swiper-slide
      border-radius: 20px
   .popup-call__box .swiper7
      width: 90%
   .order__box
      flex-direction: column
   .order__item, .order__block
      width: 100%
   .order__item
      margin-right: 0
      margin-bottom: 12px
   .footer__box
      justify-content: space-between
      position: relative
      flex-direction: inherit
      flex-wrap: wrap
      padding-bottom: 150px
   .footer__content
      width: 100%
      margin-left: 0
   .footer__area
      margin-left: 0
      display: flex
      margin-bottom: 60px
      margin-top: 60px
   .footer__per
      margin-bottom: 0
      &:first-child
         margin-right: 35px
   .footer__order
      margin-left: 0
      text-align: left
      margin-top: 0
   .footer__order a
      text-align: left
   .footer__links
      margin-top: 0
      position: absolute
      bottom: 40px
      left: 0
   .footer__item
      margin-bottom: 30px
   .header__block a
      height: 38px
      font-size: 12px
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type 
      height: 63%
      bottom: 72px
      left: initial
      right: 0
@media screen and (max-width: 767px)
   .container 
      max-width: 540px !important
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 510px !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type
      height: 54%
   .tabs__nav
      width: 100%
      flex-direction: column
   .tabs__nav a
      margin-right: 0 !important
      width: 100%
      margin-bottom: 8px
      padding-left: 14px
      &:last-child
         margin-bottom: 0
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mob 
      display: block !important
   .nav__logo
      width: 97px
   .header__item
      margin-bottom: 12px
   .header__item img
      height: 140px
   .header__block img
      height: 113%
   .header .swiper1 .swiper-slide img
      max-width: 80%
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      bottom: 44px
   .main .swiper2 .swiper-slide_1:hover a .images, .main .swiper22 .swiper-slide_1:hover a .images
      right: 20px !important
   .main .swiper2 .swiper-slide_1 a .images, .main .swiper22 .swiper-slide_1 a .images
      width: 100%
   .main .swiper2 .swiper-slide .images, .main .swiper22 .swiper-slide .images
      height: 210px
      right: 20px !important
   .info__right img:first-child
      width: 94%
   .info__right a
      width: 87%
   .events .swiper3 .swiper-wrapper .swiper-slide
      width: 100% !important
   .events .swiper3 .swiper-wrapper .swiper-slide img:nth-child(2)
      max-width: 240px !important
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:nth-child(2)
      width: 200px
      right: initial
      left: 10px
      bottom: 89px
   .events .swiper3 .swiper-wrapper .swiper-slide:last-child img:first-of-type
      height: 47% !important
   .rev .swiper44 .swiper-slide a
      border-radius: 20px
   .rev .swiper44 .swiper-slide a img
      height: 220px
   .rev .swiper44 .swiper-slide a h3
      margin-top: 220px
   .box-modal__close
      top: 15px
      right: 15px
   .arcticmodal-container_i2
      padding: 12px
   .popup__title
      width: 100%
      max-width: 215px
   .accordeon__button:hover, .accordeon__button2:hover
      color: $black
   .order__block p
      margin-bottom: 60px
      width: 100%
      max-width: 250px
   .footer__left
      margin-right: 0
@media screen and (max-width: 576px) and (min-width: 410px) 
   .info__right a 
      width: 90.6%
@media screen and (max-width: 410px) and (min-width: 360px) 
   .info__right a 
      width: 88.3%

   